* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

/* Mix */
.padd_left_20 {
  padding-left: 20px;
}

.padd_left_10 {
  padding-left: 10px;
}


ul {
  list-style: none;

}

/* Typo */

/* corpo del progetto */
main {
  display: flex;
  height: calc(100% - 70px);
  background-color: #141922;

}

/* top_bar fixed */
.top_bar {
  position: fixed;
  z-index: 99;
  left: 250px;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
/* /top_bar fixed */

/* aside */
.aside {
  height: 100%;
  width: 250px;
  background-color: black;
  overflow: hidden;
}

.spotify_logo_text {
  max-width: 150px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aside a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  padding: 5px 15px;
  margin: 0 5px;
  font-weight: 500;
  font-size: 12px;
}

.aside a:hover {
  color: white;
  text-decoration: none;
}

.aside a span {
  vertical-align: middle;
  margin-left: 5px;
}
/* navbar top */

.nav_top svg, .nav_middle a svg {
  height: 27px;
  width: 27px;
  vertical-align: middle;
}

.home {
  border-left: 2px solid yellow;
}

.home a {
  padding-left: 12px;
}
/* /navbar top */

/* navbar middle */
.nav_middle h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 14px;
}

.nav_middle svg.plus {
  background-color: rgba(255, 255, 255, 0.6);
  height: 30px;
  width: 30px;
}
/* /navbar middle */

/* contenitore inferiore */
.aside_bottom_container {
  height: calc(100% - 275px);
}

/* navbar bottom */
.nav_bottom {
  overflow: auto;
  height: calc(100% - 70px);
}

.nav_bottom a {
  padding: 7px 15px;
}
/* /navbar bottom */

/* installa e user */
.install_user {
  height: 70px;
  background-color: black;
  width: 100%;
}

.install_user a {
  border-bottom: 1px solid white;
  padding: 7px 0;
  margin: 0 20px;
}

.user {
  margin: 0px 20px;
  padding-top: 3px;
}

.user svg {
  height: 30px;
  margin-left: -7px;
  vertical-align: middle;
}

.user span {
  vertical-align: middle;
  display: inline-block;
  margin-top: 3px;
  line-height: 30px;
  color: white;
  font-weight: bold;
}
/* /installa e user */
/* /aside */

/* playlists */
.playlists {
  padding-top: 80px;
  width: calc(100% - 250px);
  overflow: auto;
  color: grey;
}
/* /playlists */
/* /corpo del progetto */

/* footer */
footer {
  position: relative;
  background-color: #282828;
  height: 70px;
  width: 100%;
}
