* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

/* Mix */


/* Typo */

/* corpo del progetto */
main {
  display: flex;
  height: calc(100% - 80px);
  background-color: #141922;

}

/* top_bar fixed */
.top_bar {
  position: fixed;
  z-index: 99;
  left: 250px;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
/* /top_bar fixed */

/* aside */
.aside {
  height: 100%;
  width: 250px;
  background-color: black;
  flex-shrink: 0;
}
/* /aside */

/* playlists */
.playlists {
  padding-top: 80px;
  width: calc(100% - 250px);
  overflow: auto;
  color: grey;
}

/* /playlists */


/* /corpo del progetto */


/* footer */
footer {
  background-color: #282828;
  height: 80px;
  width: 100%;
  position: relative;
}
