* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

/* Mix */
.padd_left_20 {
  padding-left: 20px;
}

.padd_left_10 {
  padding-left: 10px;
}

.mrg_left_right_10 {
  margin: 0 10px;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

section {
  padding: 0 20px;
}

/* bottoni */
.button_custom:focus,
.aside a,
.main_nav_playlists a {
  text-decoration: none;
}

.button_custom:focus {
  color: white;
}

.button_scnd {
  background: inherit;
  border: 0;
  padding: 0 10px;
  font-weight: 500;
}

.button_scnd:focus {
  outline: none;
}

/* Typo */
h2 {
  color: white;
  font-size: 18px;
  font-weight: bolder;
  padding-left: 8px;
}

h4 {
  color: white;
  font-size: 14px;
  font-weight: bolder;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

h6 {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

p {
  color: #666666;
  font-size: 12px;
  font-weight: bold;
}

section > p {
  padding-left: 8px;
}

/* corpo del progetto */
main {
  display: flex;
  height: calc(100% - 70px);
  background-color: #141922;
}

/* top_bar fixed */
.top_bar {
  position: fixed;
  z-index: 99;
  left: 250px;
  top: 0;
  right: 0;
  height: 70px;
  width: calc(100% - 250px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.button_custom {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 20px;
  border: 2px solid white;
  border-radius: 20px;
  transition: transform 0.5s;
  animation-name: scale-infinite;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes scale-infinite {
  0% {transform: scale(1);}
  10% {transform: scale(1.15);}
  20% {transform: scale(1);}
  100% {transform: scale(1);}
}

.button_custom:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.15)!important;
}
/* /top_bar fixed */

/* aside */
.aside {
  height: 100%;
  width: 250px;
  background-color: black;
  overflow: hidden;
}

.spotify_logo_text {
  max-width: 150px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aside a {
  display: block;
  opacity: 0.6;
  color: white;
  padding: 5px 15px;
  margin: 0 5px;
  font-weight: 500;
  font-size: 12px;
  transition: opacity 0.3s;
}

.aside a:hover, .main_nav_playlists a:hover {
  opacity: 1;
  color: white;
  text-decoration: none;
}

.aside a span {
  vertical-align: middle;
  margin-left: 5px;
}

/* navbar top */
.nav_top::before {
  content: "";
  display: none;
  height: 30px;
  width: 30px;
  background-image: url('../img/logo-small.svg');
  background-color: black;
}

.nav_top svg, .nav_middle a svg {
  height: 27px;
  width: 27px;
  vertical-align: middle;
}

.home {
  border-left: 2px solid yellow;
}

.home:hover {
  border-left: 2px solid black;
}

.home a {
  padding-left: 12px;
}

.nav_top a {
  transition: background 0.3s;
}

.nav_top a:hover {
  background-color: rgba(240, 255, 0, 0.6);
}
/* /navbar top */

/* navbar middle */
.nav_middle h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 14px;
}

.nav_middle svg.plus {
  background-color: white;
  height: 30px;
  width: 30px;
}
/* /navbar middle */

/* contenitore inferiore */
.aside_bottom_container {
  height: calc(100% - 275px);
}

/* navbar bottom */
.nav_bottom {
  overflow: auto;
  height: calc(100% - 70px);
}

.nav_bottom a {
  padding: 7px 15px;
}
/* /navbar bottom */

/* installa e user */
.install_user {
  height: 70px;
  background-color: black;
  width: 100%;
}

.install_user a {
  margin: 0;
  padding: 0;
}

.install {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 7px 0;
  margin: 0 20px;
}

.user {
  margin: 0px 20px;
  padding-top: 3px;
}

.user .profile_container {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background-color: grey;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile_container img {
  width: 100%;
  height: 100%;
}

.user span {
  vertical-align: middle;
  display: inline-block;
  margin-top: 3px;
  line-height: 30px;
  color: white;
  font-weight: bold;
}
/* /installa e user */
/* /aside */

/* playlists */
.playlists {
  padding-top: 80px;
  padding-bottom: 30px;
  width: calc(100% - 250px);
  overflow: auto;
  color: grey;
}

/* main_nav */
.main_nav_playlists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}

.main_nav_playlists ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item_evidence {
  order: -1;
}

.main_nav_playlists ul li {
  margin-bottom: 20px;
}

.main_nav_playlists a {
  color: #666666;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  transition: color 0.5s;
  padding-bottom: 5px;
}

.link_border_bottom {
  position: relative;
}

.link_border_bottom::after {
  content: "";
  position:absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 30px;
  background-color: yellow;
  opacity: 0;
  transition: opacity 0.5s;
}

.main_nav_playlists li:hover .link_border_bottom::after {
  opacity: 1;
}

.link_border_bottom.link_evidence::after {
  opacity: 1;
}

.main_nav_playlists li:hover ~ li.item_evidence .link_border_bottom.link_evidence::after  {
  opacity: 0;
}
/* /main_nav */

/* sezione recently_played */
.disks_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 25px;
}

.disk {
  width: calc((100% / 6) - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px;
  transition: background 0.7s, transform 0.7s;
}

.disk img {
  width: 100%;
}

.overlay_container {
  position: relative;
  overflow: hidden;
  transition: border-radius 0.7s;
}

.overlay {
  position: absolute;
  top: -40px;
  left: -40px;
  right: -40px;
  bottom: -40px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transform: scale(0);
  transition: transform 0.5s;
  transition-timing-function: linear;
  border-radius: 50%;
}

.overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  font-size: 55px;
}
/* /sezione recently_played */

/* sezione  popular_artists */
.popular_artists .overlay_container {
  border-radius: 50%;
  overflow: hidden;
}
/* /sezione  popular_artists */

/* hover sui dischi */
.disk:hover .overlay {
  transform: scale(1);
}

.disk:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.07);
  transform: scale(1.05);
  border-radius: 5px;
}

.disk:hover .overlay_container {
  border-radius: 5px;
}

.disk:hover .overlay_container.pop_art_cover {
  border-radius: 50%;
}
/* /playlists */
/* /corpo del progetto */

/* footer */
footer {
  position: relative;
  background-color: #282828;
  color: white;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_song_box,
.progress_bar_box,
.volume_box {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.progress_bar_box {
  flex-wrap: wrap;
  width: 500px;
  justify-content: center;
}

/* blocco nome canzone */
.title_song {
  padding: 0 30px 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.name_song_box img {
  width: 55px;
}

.name_song_box .button_scnd {
  color: #666666;
}

.title_song a {
  margin: 0;
  font-size: 11px;
  color: #666666;
  font-weight: 500;
}

.title_song a:hover {
  color: white;
}

.name_song_box .button_scnd:hover {
  color: white;
}
/* /blocco nome canzone */

/* blocco progress bar */
.progress_bar_box {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.player_buttons .button_scnd {
  vertical-align: middle;
}

.progress_bar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 0;
  width: 100%;
}

.progress_bar {
  height: 3px;
  background-color: #666666;
  border-radius: 2px;
  display: inline-block;
  margin: 0 20px;
}

.progress_bar_box .progress_bar {
  width: 70%;
}

.time_done, .time_to_do {
  font-size: 11px;
  font-weight: bold;
}

.progress_done {
  width: 20%;
  height: 100%;
  background-color: white;
  display: block;
  border-radius: 2px;
  position: relative;
  transition: width 5s, background 0.3s, opacity 0.3s;
}

.circle {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.progress_bar:hover {
  cursor: pointer;
}

.progress_done:hover {
  background-color: #32CD32;
}

.progress_done:hover .circle {
  opacity: 1;
}

.progress_done:active {
  width: 100%;
}

.play_circle {
  font-size: 25px;
  transition: transform 0.5s
}

.play_circle:hover {
  transform: scale(1.1);
}
/* blocco progress bar */

/* blocco video e volume */
.volume_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.volume_box .menu_icons i {
  vertical-align: middle;
  font-size: 11px;
}

.menu_icons i.bar_menu {
  font-size: 13px;
  margin-left: -2px;
}

.volume_box i.desktop {
  padding-top: 3px;
  font-size: 11px;
}

.volume_box .progress_bar {
  width: 110px;
  margin-right: 0;
  margin-left: 3px;
}

.volume_box .volume {
  font-size: 11px;
  padding-top: 2px;
}
/* /blocco video e volume */
/* /footer */


/* responsive */
@media screen and (max-width:1100px) {
  /* playlists */
  .main_nav_playlists ul {
    width: 72%;
  }

  .disk {
    width: calc(25% - 10px);
  }

  /* footer */
  .heart_folder_container,
  .menu_desktop_container {
    display: flex;
    flex-direction: column;
  }

  .bar_menu {
    vertical-align: middle;
    padding-bottom: 1px;
  }
}

@media screen and (max-width: 992px) {
  /* bottoni */
  .button_scnd {
    padding: 0 10px 0 0;
  }

  /* playlists */
  .main_nav_playlists ul {
    width: 63%;
  }

  /* footer */
  .title_song {
    padding: 0px 15px 0 10px;
  }

  .name_song_box .button_scnd {
    padding: 0;
  }

  .progress_bar_box .button_scnd {
    padding: 0 10px;
  }

  .volume_box .progress_bar {
    width: 90px;
  }
}

/* media query aggiuntiva per main nav playlist */
@media screen and (max-width: 825px) {
  .main_nav_playlists ul {
    width: 72%;
  }
}

@media screen and (max-width: 768px) {
  /* playlists */
  .main_nav_playlists ul {
    width: 87%;
  }

  .disk {
    width: calc(50% - 10px);
  }

  /* footer e contenitori */
  footer {
    height: 100px;
    justify-content: center;
    flex-wrap: wrap;
  }

  main {
    height: calc(100% - 100px);
  }

  .heart_folder_container,
  .menu_desktop_container {
    flex-direction: row;
  }

  .name_song_box {
    order: 1;
    width: 50%;
    justify-content: center;
  }

  .name_song_box h6 {
    font-size: 14px;
  }

  .name_song_box .title_song a {
    font-size: 13px;
  }

  .name_song_box .button_scnd {
    padding: 0 10px 0 0;
  }

  .volume_box {
    order: 2;
    width: 50%;
    justify-content: center;
  }

  .progress_bar_box {
    order: 3;
    width: 100%;
    justify-content: center;
  }

  .progress_bar_container {
    order: -1;
    flex-basis: 50%;
    margin-right: 25px;
  }
}

@media screen and (max-width: 576px) {
  /* top bar */
  .top_bar {
    left: 50px;
    width: calc(100% - 50px);
  }

  /* media query aside */
  .aside {
    width: 50px;
    text-align: center;
  }

  .aside span,
  .aside .user span,
  .aside .spotify_logo_text,
  .aside .nav_middle h3,
  .aside .nav_middle a,
  .aside .nav_bottom li {
    display: none;
  }

  .nav_top::before {
    display: inline-block;

  }
  .home {
    border-left: 0;
  }

  .aside a {
    margin: 0;
    padding: 8px 0;
  }

  .aside_top_container {
    padding-top: 10px;
  }

  .aside_bottom_container {
    height: calc(100% - 174px);
  }

  .install {
    border-bottom: 0;
    padding: 0;
    margin: 0 auto;
  }

  .user {
    text-align: center;
    margin: 0;
  }

  .user .profile_container {
    margin-right: 0;
  }

  /* playlists */
  .playlists {
    width: calc(100% - 50px);
  }

  .main_nav_playlists ul {
    width: 88%;
  }

  /* footer */
  .name_song_box {
    width: 72%;
    justify-content: flex-start;
  }

  .title_song {
    padding: 0 10px;
  }

  .progress_bar_box .button_scnd {
    padding: 0 10px 0 0;
    font-size: 12px;
  }

  .progress_bar_box .play_circle {
    font-size: 20px;
  }

  .progress_bar_box .progress_bar {
    margin: 0 10px;
  }

  .volume_box {
    justify-content: flex-end;
    width: 28%;
  }

  .volume_box .progress_bar {
    display: none;
  }
}

/* media query aggiuntiva per main nav playlist */
@media screen and (max-width: 365px) {
  .main_nav_playlists ul {
    width: 100%;
  }
}

/* media query aggiuntiva del footer a 330px */
@media screen and (max-width: 330px) {
  .name_song_box {
    width: 80%;
  }

  .volume_box {
    width: 20%;
  }

  .name_song_box .button_scnd,
  .menu_desktop_container .button_scnd,
  .progress_bar_box .button_scnd {
    padding: 0 6px 0 0;
  }

  .menu_icons {
    display: none;
  }
}

/* media query in altezza */
@media screen and (max-height: 375px) {
  .top_bar {
    display: none;
  }

  .playlists {
    padding: 30px 0;
  }
}
